:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan-text: hsl(167, 40%, 24%);
  --Dark-blue-photography-text: hsl(198, 62%, 26%);
  --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #fffbf8;
  font-family: 'Barlow', sans-serif;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 650px;
  position: absolute;
  z-index: 999;
}

.img-header {
  position: relative;
  height: 100vh;
  background: #3dbeff url('../images/desktop/image-header.jpg') no-repeat center bottom;
  background-size: contain;
}

.menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  /*margin: 20px auto 0;*/
}

.menu-mobile {
  display: none;
}

.logo {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  margin: 0 0 0 20px;
  flex: 1;
  font-size: 2em;
}

.menu-nav {
  flex: 1 1 120px;
  margin: 0 0px 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

.menu-nav ul li {
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}

.menu-nav ul li a {
  display: inline-block;
  color: white;
  font-size: 1.10em;
  margin: 10px 0 0;
  padding: 10px 15px;
  text-decoration: none;
}

.menu-nav ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin: 5px auto;
  transition: .2s;
  border-radius: 10px
}

.menu-nav ul li a:hover::after {
  width: 100%;
  background-image: linear-gradient(to right, #ff4904,#ff9f00, #ff4904);
}

.menu-nav ul li a.button {
  background-color: white;
  color: black;
  font-family: 'Fraunces', serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  border-radius: 50px;
  transition: box-shadow .3s;
}

.menu-nav ul li a.button::after {
  content: '';
  display: none;
}

.menu-nav ul li a.button:hover {
  box-shadow: 0 0 50px white;
}

.introducao {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.introducao h1{
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 4em;
  color: white;
  position: absolute;
  top: 0px
}

.introducao h1::after {
  content: "";
  display: block;
  background: url(../images/icon-arrow-down.svg) no-repeat;
  width: 40px;
  height: 115px;
  margin: 20px auto 0;
}



/* seção transform */

.service {
  display: flex;
  flex-direction: column;
}

.transform-service {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.services-desc {
  flex: 1 1 224px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
  justify-content: center;  
  font-family: 'Fraunces', serif;
  background-color: #fffaf9;
}

.desc {
  margin: 0 auto;
  padding: 15px
}

.services-desc h2 {
  font-size: 2em;
  max-width: 350px;
  color: var(--Very-dark-desaturated-blue);
}
/*
.services-desc .h2-2 {
  max-width: 350px;
}*/

.services-desc p {
  font-family: 'Barlow', sans-serif;
  margin: 20px 0;
  max-width: 400px;
  font-size: 1em;
  line-height: 30px;
  color: var(--Very-dark-grayish-blue)
}

.services-desc span {
  color: var(--Very-dark-desaturated-blue);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  position: relative;
  z-index: 2;
}

.services-desc span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  display: block;
  width: 110%;
  height: 6px;
  border-radius: 10px 50px 50px 50px;
  z-index: -1;
}

.services-desc span.bege::after  {
  background-color: #fff3ba;
}

.services-desc span.rose::after {
  background-color: #ffdcd6
}

.service-img {
  position: relative;
  flex: 1 1 220px;
}

.quote-interno {
  position: absolute;
  top: 60%;
  left: 25%;
  text-align: center;
  font-family: 'Fraunces', serif;
}

.quote-interno.cereja {
  color: var(--Dark-desaturated-cyan-text);
}

.quote-interno.laranja {
  color: var(--Dark-blue-photography-text);
}

.quote-interno p {
  max-width: 340px;
  font-size: .9em;
  line-height: 1.5;
  margin: 20px 0;
  font-weight: 600;
}


.client {
  width: 100%;
}

.client-container {
  max-width: 968px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}

.client-container h2 {
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  color: var(--Dark-grayish-blue);
  letter-spacing: 2px;
  font-size: 1.5em;
  padding: 20px 0
}

.client-ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.client-ul li {
  flex: 1 1 260px;
  padding: 10px;
}

.client-ul .client-img {
  width: 80px;
  height: 80px;
  margin: 50px auto 0;
  border-radius: 50%;
}

.client-ul .client-img img {
  border-radius: 50%;
}

.client-ul li blockquote {
  display: block;
  max-width: 300px;
  font-size: .9em;
  line-height: 1.5;
  margin: 0 auto;
  padding: 40px 0px;
  color: var(--Very-dark-desaturated-blue);
}

.client-ul li cite {
  display: block;
  font-weight: bold;
  padding: 40px 0 10px;
  font-family: 'Fraunces', serif;
}

.client-ul li small {
  color: var(--Dark-grayish-blue);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-img {
  flex: 1 1 160px;
}

.portfolio-img img {
  object-fit: contain;
}

footer {
  background-color: #90d4c5;
  color: #458e7d;
  padding: 50px;
  display: flex;
  justify-content: center;
}

footer nav {
  text-align: center;
}

footer nav h2 {
  font-weight: bold;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 50px 0;
}

footer nav ul:nth-child(2) li {
  margin: 10px 0;
}

footer nav ul:nth-child(3) li {
  margin: 10px 15px;
}

footer nav ul li a {
  text-decoration: none;
  color: inherit;
  padding: 10px 15px;
}

.attribution {
  padding: 10px;
  background-color: var(--Dark-moderate-cyan-footer);
}

.attribution a {
  color: var(--Very-dark-desaturated-blue) !important
}

.attribution a:hover {
  color: white !important;
}

@media (min-width: 768px) and (max-width: 959px) {
  
  .desc {
    padding-left: 20px;
    padding-right: 20px;
  }

  .quote-interno {
    top: 50%;
    left: 5%;
    padding: 20px;
  }
}

@media (max-width: 767px) {

  .menu-mobile {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 5;
  }

  .menu-nav {
    display: none;
  }

  /*.ativo::after {
    width: 100;
    height: 100vh;
  }*/

  .filter {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000050;
  }

  .menu-nav.ativo::before {
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    right: 0;
    border: 50px solid;
    z-index: 9999999;
    border-color:  transparent white transparent transparent  ;
  }

  .menu-nav.ativo {
    width: 90%;
    position: absolute;
    top: 20%;
    padding: 10px 0 35px;
    background-color: white;
    z-index: 2;
  }

  .menu-nav.ativo ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-nav.ativo ul li a{
    color: black;
    font-size: 1.4em;
  }

  .menu-nav.ativo ul li:nth-last-child(1) {
    margin-top: 20px;
  }

  .menu-nav.ativo ul li a.button {
    padding: 15px 20px;
    font-size: 1.2em;
    background-color: #ff9f00;
  }

  .menu-nav.ativo ul li a.button:hover {
    background-color: #ff4904;
  }

  .introducao h1 {
    font-size: 2.5em;
  }

  .img-header {
    background: #3dbeff url('../images/mobile/image-header.jpg') no-repeat center bottom;
    background-size: 100% 170%;
  }

  .services-desc {
    flex: 1 1 380px;
    padding: 20px 0;
  }

  .services-desc h2 {
    font-size: 1.5em;
    max-width: 250px;
  }

  .services-desc p {
    max-width: 300px;
    line-height: 20px;
  }

  img {
    width: 100%
  }

  .service-img {
    order: -1;
    flex: 2 1 380px;
  }

  .quote-interno {
    top: 60%;
    left: 15%;
    padding: 20px;
  }
}

@media (max-width: 750px) {
  .quote-interno {
    top: 60%;
    left: 20%;
    padding: 20px;
  }
}

@media (max-width: 700px) {

  .services-desc {
    padding: 50px 0;
    text-align: center;
  }

  .services-desc h2 {
    margin: 0 auto;
  }

  .img-header {
    background-size: 100%;
  }
}

@media (max-width: 509px) {
  .quote-interno {
    top: 60%;
    left: 10%;
    padding: 20px;
  }
}

@media (max-width: 377px) {
  .quote-interno {
    top: 60%;
    left: 0%;
    padding: 20px;
  }
}



