:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan-text: hsl(167, 40%, 24%);
  --Dark-blue-photography-text: hsl(198, 62%, 26%);
  --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 650px;
  position: absolute;
  z-index: 999;
}

.img-header {
  position: relative;
  height: 100vh;
  background: #3dbeff url('../images/desktop/image-header.jpg') no-repeat center bottom;
  background-size: contain;
}

.menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  /*margin: 20px auto 0;*/
}

.menu-mobile {
  display: none;
}

.logo {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  margin: 0 0 0 20px;
  flex: 1;
  font-size: 2em;
}

.menu-nav {
  flex: 1 1 120px;
  margin: 0 0px 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

.menu-nav ul li {
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}

.menu-nav ul li a {
  display: inline-block;
  color: white;
  font-size: 1.10em;
  padding: 10px 15px;
  text-decoration: none;
}

.menu-nav ul li a.button {
  background-color: white;
  color: black;
  font-family: 'Fraunces', serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
}

.introducao {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.introducao h1{
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 3em;
  color: white;
  position: absolute;
  top: 0px
}

.introducao h1::after {
  content: "";
  display: block;
  background: url(../images/icon-arrow-down.svg) no-repeat;
  width: 40px;
  height: 115px;
  margin: 20px auto 0;
}



/* seção transform */

.service {
  display: flex;
  flex-direction: column;
}

.transform-service {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.services-desc {
  flex: 1 1 224px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
  justify-content: center;  
  font-family: 'Fraunces', serif;
  background-color: #fffaf9;
}

.desc {
  margin: 0 auto;
  padding: 15px
}

.services-desc h2 {
  font-size: 2em;
  max-width: 350px;
  color: var(--Very-dark-desaturated-blue);
}
/*
.services-desc .h2-2 {
  max-width: 350px;
}*/

.services-desc p {
  font-family: 'Barlow', sans-serif;
  margin: 20px 0;
  max-width: 400px;
  font-size: 1em;
  line-height: 30px;
  color: var(--Very-dark-grayish-blue)
}

.services-desc span {
  color: var(--Very-dark-desaturated-blue);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.service-img {
  position: relative;
  flex: 1 1 220px;
}

.quote-interno {
  position: absolute;
  top: 60%;
  left: 20%;
  text-align: center;
  font-family: 'Fraunces', serif;
}

.quote-interno.cereja {
  color: var(--Dark-desaturated-cyan-text);
}

.quote-interno.laranja {
  color: var(--Dark-blue-photography-text);
}

.quote-interno p {
  max-width: 340px;
  font-size: .9em;
  line-height: 1.5;
  margin: 20px 0;
  font-weight: 600;
}


.client {
  width: 100%;
}

.client-container {
  max-width: 968px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}

.client-container h2 {
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  color: var(--Dark-grayish-blue);
  letter-spacing: 2px;
  font-size: 1.5em;
  padding: 20px 0
}

.client-ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.client-ul li {
  padding: 10px;
}

.client-ul .client-img {
  width: 80px;
  height: 80px;
  margin: 10px auto 0;
  border-radius: 50%;
}

.client-ul .client-img img {
  border-radius: 50%;
}

.client-ul li blockquote {
  display: block;
  max-width: 300px;
  font-size: .9em;
  line-height: 1.5;
  padding: 40px 0px;
  color: var(--Very-dark-desaturated-blue);
}

.client-ul li cite {
  display: block;
  font-weight: bold;
  padding: 40px 0 10px;
  font-family: 'Fraunces', serif;
}

.client-ul li small {
  color: var(--Dark-grayish-blue);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}